In [11]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

In [12]:
#==============================================================
# Case 1 to 5 setup: MultiIndex Rows (region, product, month)
#==============================================================
df = pd.DataFrame({
    "region": ["East" , "East" , "East" , "West" , "West" , "West"] ,
    "product": ["Cable" , "Cable" , "Wire" , "Cable" , "Wire" , "Wire"] ,
    "month": ["2025-11" , "2025-12" , "2025-12" , "2025-11" , "2025-11" , "2025-12"] ,
    "sales": [100 , 120 , 80 , 90 , 70 , 110] ,
    "returns": [5 , 4 , 2 , 3 , 1 , 6] ,
})

df = df.set_index(["region" , "product" , "month"]).sort_index()
df

                        sales  returns
region product month
East   Cable   2025-11    100        5
               2025-12    120        4
       Wire    2025-12     80        2
West   Cable   2025-11     90        3
       Wire    2025-11     70        1
               2025-12    110        6

In [13]:
#=============================================
# Case 1) xs on first index level (default)
#=============================================
case1 = df.xs("East")
case1

                 sales  returns
product month
Cable   2025-11    100        5
        2025-12    120        4
Wire    2025-12     80        2

In [14]:
#======================================================
# Case 2) xs with level=... (target a specific level)
#======================================================
case2 = df.xs("Cable" , level = "product")
case2

                sales  returns
region month
East   2025-11    100        5
       2025-12    120        4
West   2025-11     90        3

In [15]:
#=======================================================
# Case 3) xs with tuple key (multiple levels together)
#=======================================================
case3 = df.xs(("West" , "Wire") , level = ["region" , "product"])
case3

         sales  returns
month
2025-11     70        1
2025-12    110        6

In [16]:
#===========================================================
# Case 4) xs with non-adjacent levels (explicit level list)
#===========================================================
case4 = df.xs(("East" , "2025-12") , level = ["region" , "month"])
case4

         sales  returns
product
Cable      120        4
Wire        80        2

In [17]:
#=================================================
# Case 5) drop_level=False (keep full MultiIndex)
#=================================================
case5 = df.xs("East" , level = "region" , drop_level = False)
case5

                        sales  returns
region product month
East   Cable   2025-11    100        5
               2025-12    120        4
       Wire    2025-12     80        2

In [18]:
#======================================================
# Case 6 setup: MultiIndex Columns (metric, scenario)
#======================================================
df = pd.DataFrame({
    ("sales" , "actual"): [100 , 90 , 120] ,
    ("sales" , "target"): [110 , 95 , 130] ,
    ("returns" , "actual"): [5 , 3 , 4] ,
    ("returns" , "target"): [4 , 2 , 3] ,
} ,
    index = pd.Index(["East" , "West" , "Central"] , name = "region") ,
)

df.columns = pd.MultiIndex.from_tuples(df.columns , names = ["metric" , "scenario"])
df

metric    sales        returns
scenario actual target  actual target
region
East        100    110       5      4
West         90     95       3      2
Central     120    130       4      3

In [19]:
#=============================================
# Case 6) xs on columns axis (select a block)
#=============================================
case6a = df.xs("sales" , axis = "columns" , level = "metric")
case6a

case6b = df.xs("actual" , axis = "columns" , level = "scenario")
case6b

scenario  actual  target
region
East         100     110
West          90      95
Central      120     130

metric   sales  returns
region
East       100        5
West        90        3
Central    120        4