In [21]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

In [22]:
df = pd.DataFrame({
    "region":   ["East","East","West","West"],
    "sales":    [120, 80, 200, 60],
    "returns":  [5, 0, 8, 2],
    "discount": [0.10, 0.05, 0.00, 0.15]
})
df

  region  sales  returns  discount
0   East    120        5      0.10
1   East     80        0      0.05
2   West    200        8      0.00
3   West     60        2      0.15

In [23]:
# Case 1
num = df[["sales","returns","discount"]]
num.agg(lambda s: s.max() - s.min())   # range per column

sales       140.00
returns       8.00
discount      0.15
dtype: float64

In [24]:
# Case 2
df[["sales","returns"]].agg("sum")

sales      460
returns     15
dtype: int64

In [25]:
# Case 3
df[["sales","returns"]].agg(["min", "max", "mean"])

      sales  returns
min    60.0     0.00
max   200.0     8.00
mean  115.0     3.75

In [26]:
# Case 4
df.agg({
    "sales": ["sum", "mean"],
    "returns": "max",
    "discount": "mean"
})

      sales  returns  discount
sum   460.0      NaN       NaN
mean  115.0      NaN     0.075
max     NaN      8.0       NaN

In [27]:
# Case 5
df[["sales"]].agg(
    total_sales=("sales","sum"),
    avg_sales=("sales","mean"),
    best_sale=("sales","max")
)

             sales
total_sales  460.0
avg_sales    115.0
best_sale    200.0

In [28]:
# Case 6
scores = pd.DataFrame({"math":[80,90,60], "eng":[70,85,75], "sci":[75,95,65]})
scores
scores.agg("mean", axis="columns")   # row-wise mean

   math  eng  sci
0    80   70   75
1    90   85   95
2    60   75   65

0    75.000000
1    90.000000
2    66.666667
dtype: float64