In [32]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

In [33]:
df = pd.DataFrame(
    {
        "order_id": ["A101" , "A102" , "A103" , "A104" , "A105"] ,
        "region": ["East" , "West" , "East" , "West" , "East"] ,
        "amount": [250 , 900 , 120 , 650 , 480] ,
        "status": ["Delivered" , "Delivered" , "Pending" , "Delivered" , "Pending"] ,
    } ,
    index = pd.to_datetime([
        "2025-12-01" , "2025-12-02" , "2025-12-03" , "2025-12-04" , "2025-12-05"
    ]) , )
df

           order_id region  amount     status
2025-12-01     A101   East     250  Delivered
2025-12-02     A102   West     900  Delivered
2025-12-03     A103   East     120    Pending
2025-12-04     A104   West     650  Delivered
2025-12-05     A105   East     480    Pending

In [34]:
#===============================
# Case 1) .loc[] single label
#===============================
case1 = df.loc["2025-12-02" , ["order_id" , "amount"]]
case1

order_id    A102
amount       900
Name: 2025-12-02 00:00:00, dtype: object

In [35]:
#===============================
# Case 2) .loc[] list of labels
#===============================
case2 = df.loc[["2025-12-01" , "2025-12-04"] , ["order_id" , "region" , "amount"]]
case2

           order_id region  amount
2025-12-01     A101   East     250
2025-12-04     A104   West     650

In [36]:
#============================================
# Case 3) .loc[] label slice (inclusive end)
#============================================
case3 = df.loc["2025-12-02":"2025-12-04" , ["order_id" , "amount"]]
case3

           order_id  amount
2025-12-02     A102     900
2025-12-03     A103     120
2025-12-04     A104     650

In [37]:
#=================================
# Case 4) .loc[] boolean filter
#=================================
case4 = df.loc[df["amount"] >= 500 , ["order_id" , "amount" , "status"]]
case4

           order_id  amount     status
2025-12-02     A102     900  Delivered
2025-12-04     A104     650  Delivered

In [38]:
#====================================
# Case 5) .loc[] callable (lambda)
#====================================
case5 = df.loc[lambda x: x["status"].eq("Delivered") , ["order_id" , "region" , "amount"]]
case5

           order_id region  amount
2025-12-01     A101   East     250
2025-12-02     A102   West     900
2025-12-04     A104   West     650

In [39]:
#======================================
# Case 6) .iloc[] positions (row/col)
#======================================
case6 = df.iloc[0 , :]
case6

case6b = df.iloc[0 , 2]
case6b

order_id         A101
region           East
amount            250
status      Delivered
Name: 2025-12-01 00:00:00, dtype: object

np.int64(250)

In [40]:
#========================================
# Case 7) .iloc[] slice (stop excluded)
#========================================
case7 = df.iloc[0:3 , 0:3]
case7

           order_id region  amount
2025-12-01     A101   East     250
2025-12-02     A102   West     900
2025-12-03     A103   East     120

In [41]:
#======================================
# Case 8) .iloc[] lists of positions
#======================================
case8 = df.iloc[[3 , 1] , [0 , 2 , 3]]
case8

           order_id  amount     status
2025-12-04     A104     650  Delivered
2025-12-02     A102     900  Delivered