In [9]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({
    "order_id": ["A101" , "A102" , None , "A104" , "A105"] ,
    "region": ["East" , "West" , "East" , None ,  "West"] ,
    "amount": [250.0 , np.nan , 120.0 ,  650.0 , np.nan] ,
    "notes": ["ok" , "" , None , "rush" , "ok"]
})
df

  order_id region  amount notes
0     A101   East   250.0    ok
1     A102   West     NaN
2     None   East   120.0  None
3     A104   None   650.0  rush
4     A105   West     NaN    ok

In [11]:
#==============================
# Case 1) DataFrame.isna()
#==============================
case1 = df.isna()
case1

   order_id  region  amount  notes
0     False   False   False  False
1     False   False    True  False
2      True   False   False   True
3     False    True   False  False
4     False   False    True  False

In [12]:
#===================================
# Case 2) Missing count per column
#===================================
case2 = df.isna().sum()
case2

order_id    1
region      1
amount      2
notes       1
dtype: int64

In [13]:
#======================================
# Case 3) Rows with ANY missing value
#======================================
case3 = df.loc[df.isna().any(axis = 1)]
case3

  order_id region  amount notes
1     A102   West     NaN
2     None   East   120.0  None
3     A104   None   650.0  rush
4     A105   West     NaN    ok

In [14]:
#=================================================
# Case 4) Missing check for required fields only
#=================================================
required = ["order_id" , "amount"]
case4 = df.loc[df[required].isna().any(axis = 1) , required + ["region"]]
case4

  order_id  amount region
1     A102     NaN   West
2     None   120.0   East
4     A105     NaN   West

In [15]:
#======================================================
# Case 5) Keep rows where required fields are present
#======================================================
case5 = df.loc[df[required].notna().all(axis = 1)]
case5

  order_id region  amount notes
0     A101   East   250.0    ok
3     A104   None   650.0  rush

In [16]:
#====================================================
# Case 6) Aliases (isnull == isna, notnull == notna)
#====================================================
case6a = df.isnull().equals(df.isna())
case6a

case6b = df.notnull().equals(df.notna())
case6b

True

True